.video-prom{
    background-color: #44a4d8;
    background-size: cover;
    font-family: "Muli","Arial",sans-serif;
    text-align: center;
    color: white;

}

.prom{
    font-size: 52px;
}

.video{
    border: 10px solid #91cdf5;
}

.footer{
    background-color:grey;
    color:white;
}


