body {
    overflow-x: hidden;
}

.actu {
    background: #A42B78;
}

.menu {
    color: black;
    font-family: "Muli";
}

.actualites{
    color: white;
    font-family: "Muli";
}

.Social-wall{
    background-size: cover;
    font-family: "Muli","Arial",sans-serif;
    text-align: center;
    color: #2575aa;
}

.hr{
    display:inline;
}

.methodo{
    text-align: center;
    background-color: #f3f3f3;
    font-family: "Muli","Arial",sans-serif;
    font-size: 24px;
}

.actu-card{
    color: white;
}

.modalColor{
    background-color: #F7F7F7;
}

.btn-soumettre{
    background-color: #4387AC;
}

.contacteznous{
    color: #4387AC;
}

.footer{
    background-color:grey;
    color:white;
    padding-left: 16px;
}

.footer_link{
    color: white;
}

.up_arrow{
    color: lightgrey;
    left: 95%;
    bottom: 5%;
}

