.actu {
    background: #A42B78;
}

.menu {
    color: black;
    font-family: "Muli";
}

.actualites{
    color: white;
    font-family: "Muli";
}

.methodo{
    text-align: center;
    background-color: #f3f3f3;
    font-family: "Muli","Arial",sans-serif;
    font-size: 24px;
}

.actu-card{
    color: white;
}