body {
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

.limitwidth {
    max-width: 1400px;
    margin: 0 auto;
    float: none;
}

.bodystyle {
    background-color: #f3f3f3;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Muli";

}


.navbar{
    background-color: white;
    box-shadow: 0px 3px 10px grey;
}

.menu {
    color: black;
    font-family: "Muli";
}

.showtext {
    text-align: left;
    margin-right: 20%;
    margin-left: 5%;
    opacity: 0;
    transition: opacity 0.5s;
    font-size: 24px;
    height:0px;
}

.hr{
    display:inline;
}

.displayflex {
    display: flex;
}

.line {
    border-top: 1px solid grey;
    flex-grow: 1;
    margin-top: 2.8%;
    margin-left: 1%;
}

.modalColor{
    background-color: #F7F7F7;
}

.modalFull {
    position: fixed;
    top: 5%;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

.modal-dialog {
    position: fixed;
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    max-width: none;
}

.unInput {
    margin: 5%;
    font-size: small;
}

.btn-soumettre{
    background-color: #4387AC;
}

.contacteznous{
    color: #4387AC;
    font-size: 20%;
}

.footer{
    background-color:grey;
    color:white;
    padding-left: 16px;
}

.footer a:hover{
    color:lightblue;
    text-decoration:none;
}

.footer i:hover{
    color:darkgrey;
    transition: ease-in 0.2s;
}

.footer_link{
    color: white;
}

.up_arrow{
    color: lightgrey;
    left: 95%;
    bottom: 5%;
}

