/*Video */
.video-prom{
    background-color: #44a4d8;
    background-size: cover;
    font-family: "Muli","Arial",sans-serif;
    text-align: center;
    color: white;

}

.video{
    border: 10px solid #91cdf5;
    box-shadow: 0px 3px 10px black;
}

.video-prom div a{
    color: white;
    opacity: 0.5;
}

.video-prom div a:hover{
    opacity: 1;
    transition: ease-in 0.2s;
}

.video-prom div a i{
    font-size: 50px;
}

/*Methodo */
.methodo{
    color: black;
    font-family: "Muli";
}

.Methodo{
    text-align: left;
    background-color: #f3f3f3;
    /*font-family: "Muli","Arial",sans-serif;
    font-size: 22px;*/
}

#showimagine {
    margin-top: 20%;
}

#showshape {
    margin-top: -9.8%;
}

#showgetready {
    margin-top: -9.8%;
}
#showmake {
    margin-top: -9.8%;
}

#showpropulse {
    margin-top: -9.8%;
    height:12vw;
}


#imaginehover:hover > .imagine {
    filter: brightness(120%);
    transition: 1s;
}

#imaginehover:hover ~ #showimagine {
    opacity: 100;
    transition: opacity 1s;
}

#shapehover:hover > .shape {
    filter:brightness(120%);
    transition: 1s;
}

#shapehover:hover ~ #showshape {
    opacity: 100;
    transition: opacity 1s;
}

#getreadyhover:hover > .getready {
    filter:brightness(120%);
    transition: 1s;
}

#getreadyhover:hover ~ #showgetready {
    opacity: 100;
    transition: opacity 1s;
}

#makehover:hover > .make {
    filter:brightness(120%);
    transition: 1s;
}

#makehover:hover ~ #showmake {
    opacity: 100;
    transition: opacity 1s;
}

#propulsehover:hover > .propulse {
    filter:brightness(120%);
    transition: 1s;
}

#propulsehover:hover ~ #showpropulse {
    opacity: 100;
}

.imagine {
    position: relative;
    z-index: 5;
    filter:brightness(90%);
    transition: 1s;
}


.shape {
    position: relative;
    z-index: 4;
    filter:brightness(90%);
    transition: 1s;
}

.getready {
    position: relative;
    z-index: 3;
    filter:brightness(90%);
    transition: 1s;
}

.make {
    position: relative;
    z-index: 2;
    filter:brightness(90%);
    transition: 1s;
}

.propulse {
    position: relative;
    z-index: 1;
    filter:brightness(90%);
    transition: 1s;
}

* {
    box-sizing: border-box;
}

.first {
    float: left;
    max-height: 100%;
    max-width: 100%;
    margin-left: 10%;
    width: 20%;
}

.column {
    float: left;
    max-height: 100%;
    max-width: 100%;
    margin-left: -3%;
    width: 20%;
}

.Methodo::after {
    content: "";
    clear: both;
    display: table;
}

/*Actu */
.actu {
    background: #A42B78;
}


.actualites{
    color: white;
    font-family: "Muli";
}

.actu-card{
    color: white;
}

/*Social-wall */
.Social-wall{
    background-size: cover;
    font-family: "Muli","Arial",sans-serif;
    text-align: center;
    color: #2575aa;
}