.center-head {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.double-pannel{
    display: inline-block;
    background: #4387AC;
    min-height: 400px;
    color:white;
}

.double-pannel-2{
    display: inline-block;
    min-height: 400px;
    background: #A42B78;
    color:white;
}

ul {
    list-style: none;
    margin-left: 10px;
    margin-right: 15px;
}

.pannel::before {
    content: "\25A0";
    font-size: 14px;
    padding: 5px 0px;
    color: #98BD16;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -25px;
    margin-right: 10px;
}

.pannel {
    line-height:20px;
}

.photo{
    display: inline-block;
}

.photo-row{
    background-color: #F7F7F7;
   padding: 0px;
}

.title{
    margin-left: 25px;
    font-size: 23px;
}