.center-head {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.double-pannel{
    display: inline-block;
    background: #44a4d8;
    min-height: 400px;
    color:white;
}

.double-pannel-2{
    display: inline-block;
    min-height: 400px;
    background: #A42B78;
    color:white;
}

ul {
    list-style: none;
}

.pannel::before {
    content: "\25AA";
    font-size: 24px;
    padding: 10px 0px;
    color: green;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.pannel {
    padding: 7px 0px;
}

.photo{
    display: inline-block;
}

.photo-row{
    background-color: #F7F7F7;
   padding: 0px;
}