.btn-soumettre{
    background-color: #4387AC;
}

.contacteznous{
    color: #4387AC;
}

.menu {
    color: black;
    font-family: "Muli";
}

.modalColor{
    background-color: #F7F7F7;
}

.footer_link{
    color: white;
}

.footer{
    background-color:grey;
    color:white;
}